#ECLIPSE GIT IGNORE 
.classpath
.project
.settings/
mobilIT-neo4j/.classpath
mobilIT-neo4j/.project
mobilIT-neo4j/.settings/
mobilIT-play/.classpath
mobilIT-play/.project
mobilIT-play/.settings/

#IDEA GIT IGNORE
.idea
mobilIT-play/.idea
mobilIT-play/*.iml
mobilIT-neo4j/neo4j-mobilIT.iml

#NEO4J PLUGIN GIT IGNORE
mobilIT-neo4j/target/
mobilIT-neo4j/neo4j-db/

#BASH SCRIPT IGNORE
mobilIT-script/mobilIT-osm_import/download/
mobilIT-script/mobilIT-osm_import/filter/


#PLAY GIT IGNORE
mobilIT-play/logs
mobilIT-play/project/project
mobilIT-play/project/target
mobilIT-play/target
mobilIT-play/tmp
mobilIT-play/eclipse
mobilIT-play/.cache
