@(message: String, routeForm:Form[(models.Address, models.Address)])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to MobilIT") {

<div class="navbar default">
    <div class="navbar-inner">
        <div class="container">
            <div class="row-fluid">
                <div class="span4">
                    <a class="brand" href="#"><h1 class="navbar-text">Mobil<i>IT</i></h1></a></div>
                <div class="span4">Stuff</div>
                <div class="span4">Other Stuff</div>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="row-fluid">
            <div class="span4">
                @form(action = routes.Application.findRoutes, args='class->"searchForm") {
                <fieldset >
                    <legend>Starting Address</legend>
                    @inputText(routeForm("from.street"), '_label -> "Street", 'id -> "from.street", 'size -> 30)
                    @inputText(routeForm("from.number"), '_label -> "Number", 'id -> "from.street", 'size -> 30)
                    @inputText(routeForm("from.city"), '_label -> "City", 'id -> "from.street", 'size -> 30)
                    @inputText(routeForm("from.zipCode"), '_label -> "Zip Code", 'id -> "from.street", 'size -> 30)
                    @inputText(routeForm("from.county"), '_label -> "County", 'id -> "from.street", 'size -> 30)
                    @inputText(routeForm("from.country"), '_label -> "Country", 'id -> "from.street", 'size -> 30)
                </fieldset>
                <fieldset >
                    <legend>Ending Address</legend>
                    @inputText(routeForm("to.street"), '_label -> "Street", 'id -> "to.street", 'size -> 30)
                    @inputText(routeForm("to.number"), '_label -> "Number", 'id -> "to.street", 'size -> 30)
                    @inputText(routeForm("to.city"), '_label -> "City", 'id -> "to.street", 'size -> 30)
                    @inputText(routeForm("to.zipCode"), '_label -> "Zip Code", 'id -> "to.street", 'size -> 30)
                    @inputText(routeForm("to.county"), '_label -> "County", 'id -> "to.street", 'size -> 30)
                    @inputText(routeForm("to.country"), '_label -> "Country", 'id -> "to.street", 'size -> 30)
                </fieldset>
                <button type="submit" class="btn">Route me!</button>
                }
            </div>
            <div class="span8">
                <script type="text/javascript">
                    $(document).ready(function() {
                    $('#map').mapQuery({
                    layers:[{         //add layers to your map; you need to define at least one to be able to see anything on the map
                    type:'osm'  //add a layer of the type osm (OpenStreetMap)
                    }]
                    }); //initialise mapquery with an OSM layer
                    });
                </script>
                <div id="map" class="map"></div>
            </div>
        </div>
    </div>
</div>

}